/* Set background color and padding for the entire page */
body {
  background-color: rgb(239, 230, 236);
  padding: 90px;
}

/* Center-align the heading */
h1 {
  text-align: center;
}

/* Center the table */
.table-container {
  display: flex;
  justify-content: center;
}

/* Style for the table */
.table-container table {
  margin: 30px auto;
}

/* Style for individual table cells */
td {
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 5px solid black;
  margin: 10px;
  position: relative;
}

/* Pseudo-elements for additional borders on table cells */
td::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid rgba(0, 0, 0, 0.5);
  transform: translate(-10px, -10px);
}

td::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 5px solid rgba(0, 0, 0, 0.3);
  transform: translate(10px, 10px);
}

/* Styles for different types of borders on cells */
.vert {
  border-left: 20px solid black;
  border-right: 20px solid black;
}

.vert:hover {
  color: rgb(13, 13, 56);
}

.hori {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* Style for a specific element with ID 'Display' */
#Display {
  width: 300px;
  color: rgb(0, 38, 255);
  font-size: 3em;
}

/* Default styles for larger screens */
.box {
  width: 120px;
  height: 120px;
  border: 15px solid;
  box-shadow: 0 0 0 2px #5cb0d4;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 4vmax;
  position: relative;
  perspective: 1000px;
}

/* Media query for small screens */
@media only screen and (max-width: 600px) {
  .box {
    font-size: 4vw;
  }
}


/* Pseudo-elements for additional borders on the box */
.box::before,
.box::after {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border: 10px solid #5cb0d4;
  transform: translateZ(-20px);
}

.box::after {
  transform: translateZ(20px);
}

/* Style for an element with ID 'status' */
#status {
  padding: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #231e23;
}

/* Style for buttons */
button {
  width: 150px;
  height: 40px;
  font-size: 18px;
  color: rgb(193, 26, 26);
  background-color: #f047ff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover effect for buttons */
button:hover {
  box-shadow: inset 1000px 0 0 0 #54b3d6;
  color: white;
}

/* Animation for winning status */
.win {
  animation: winAnimation ease-in-out 3s infinite;
}

/* Keyframes for win animation */
@keyframes winAnimation {
  0% {
    background-color: #2c3a47;
  }
  100% {
    background-color: #130f40;
  }
}

/* Style for an element with class 'name' */
.name {
  width: 150px;
  height: 50px;
}

/* Styles for buttons with specific classes */
.hard {
  background-color: #699f9f;
  float: right;
}

.easy {
  background-color: #cf1313;
}

/* Style for an element with class 'message-box' */
.message-box {
  font-size: 50px;
  border: 1px solid #ccc;
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Style for an element with ID 'chooseAName' */
#chooseAName {
  color: #d21313;
  font-weight: bold;
}

/* Placeholder style */
::placeholder {
  font-size: 15px;
}

/* Style for an element with class 'btn-custom' */
.btn-custom {
  font-size: 18px;
  padding: 10px 20px;
}
