body{
background-color: cornflowerblue;
}
h1 {
    text-align: center;
  }
  td {
    width: 100px;
    height: 100px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .vert :hover{
    color: blue;
  }
  
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  #Display{
    color: red;
  }
  
  .box{
    width: 100px;
    height: 100px;
    border: 2px solid #eccc68;
    box-shadow: 0 0 0 2px #eccc68;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
    font-size: 25px;
  }
  #status{
    padding: 20px;
    font-size: 25px;
    font-weight: 500;
  }
  
  button{
    width: 150px;
    height: 40px;
    font-size: 18px;
    color:white;
    background-color: #ff4757;
    border: none;
    border-radius: 3px;
  }
  
  .win{
      animation: winAnimation ease-in-out 1s infinite;
  }
  
  @keyframes winAnimation {
    0%{background-color: #2c3a47;}
    100%{background-color: #130f40;}
    
  }
   